body{
	background-color: #eaeaea!important;
}
.header{
	border-top: 7px solid #fc0000;;
}
.header img {
    width: 362px;
    height: 281px;
    padding-bottom: 5px;
}

img.img-responsive {
    width: 31%;
    height: 150px;
}
#mainpart h2{
	margin-left: 21px;
	color: #ea0000;
}
#mainpart{
	box-shadow: 1px 10px 10px 0px;
}
.row {
    margin-right: -15px !important;
    margin-left: -24px!important;
}

.backButton-info {
    color: #fff;
    background-color: rgba(153, 153, 153, 0.68);
    border-color: #46b8da;
    margin-left: 86%;
    margin-bottom: -8%!important;
}


.galleria-stage {
    height: 450px;
    position: absolute;
    top: 10px;
    bottom: 60px;
    left: 10px;
    right: 10px;
    overflow: hidden;
}
.galleria-container{
    height:600px;
}